#up_containter{
    height:60px;
}

#up_big_containter{
    background:#e5e5e5;
}

#mid_containter{
    height:40px;
}

#mid_big_containter{
    border-bottom-color: #E5E5E5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#down_right_big{
    background:#e5e5e5;
}

.left_buttons{
    height:20px;
}

.left_buttons :hover{
    background:#e5e5e5;
}

.left_buttons a{
    color:black;
    text-decoration : none;
    display:block;
}

.current_button{
    color:red;
    font-weight:bold;
}

.email_brief {

    background:#e5e5e5;
    border-bottom-color: #E5E5E5;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    border-top-color: #E5E5E5;
    border-top-style: solid;
    border-top-width: 1px;

    overflow:hidden;
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap;

    display:block;
    color:black;
}

.email_brief :hover{
    color:black;
}