#up_containter{
}

#up_big_containter{
    background:#e5e5e5;
    padding-top:15px;
    padding-bottom:15px;
}

#mid_containter{
    padding-top:5px;
    padding-bottom:5px;
}

#mid_big_containter{
    border-bottom-color: #E5E5E5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#down_right_big{
    background:#e5e5e5;
}

.left_buttons{
    height:20px;
    margin-top:5px;
}

.left_buttons :hover{
    background:#e5e5e5;
}

.left_buttons a{
    color:black;
    text-decoration : none;
    display:block;
}

.current_button{
    color:red;
    font-weight:bold;
}

.email_brief {

    background:#e5e5e5;

    border-top-color: grey;
    border-top-style: solid;
    border-top-width: 1px;

    overflow:hidden;
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap;

    display:block;
    color:black;

    padding-top:3px;
    padding-bottom:3px;
}

.email_brief :hover{
    color:black;
}

#email_detail{
    background:white;
}

.email_subject{
    font-size:24px;
    border-bottom-color: #E5E5E5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom:5px;
}

.email_head{
    font-size:16px;
    border-bottom-color: #E5E5E5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom:5px;
}

.email_body{
}

#top_search_input{
    height:30px;
    margin-right:8px;
    width:500px;
}

.top_search_div{
}

#user_login_name{
    padding-top:5px;
    padding-bottom:5px;
    margin-right:15px;
}

#logout_button{
    padding-top:5px;
    padding-bottom:5px;
}

.compose_head{
    padding-left:7px;
    padding-right:7px;
    border-bottom-color: #E5E5E5;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    margin:0px;

    height:42px;
}

.compose_body{
    padding-left:7px;
    padding-right:7px;
    border-bottom-color: #E5E5E5;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    margin:0px;
}

.compose_down{
    background:rgb(237, 235, 235);
    padding-top:8px;
    padding-bottom:8px;
}

.mid_right_buttons{
    margin-left:5px;
}

.email_brief_span{
    overflow:hidden;
}

.unread{
    background:white;
}

.change_user_information_labels{
    margin-top:8px;
    margin-bottom:3px;
}

.change_user_information_buttons{
    margin-top:10px;
    margin-bottom:5px;
}

.left_input{
    margin-top:15px;
}

.left_input a{
    margin-top:6px;
}